<script type='text/javascript'>
function stick_marker(map,name,latitude,longitude,flag){
	var marker = new GMarker(new GLatLng(latitude,longitude));;
	GEvent.addListener(marker,'click',function(){marker.openInfoWindowHtml(name);});
	GEvent.addListener(marker,"mouseover", function() {marker.openInfoWindowHtml(name);});
	map.addOverlay(marker);
}
function initialize() {
	var map = new GMap2(document.getElementById('map'),{draggableCursor:"crosshair"});
	map.setCenter(new GLatLng(17.40863,78.47225), 12);/*Secretariat*/
	map.enableScrollWheelZoom();
	map.addControl(new GLargeMapControl());
    map.addControl(new GMapTypeControl(1));
    {%if route%}
    	{%for halt in route.halts.all%}
				stick_marker(map,"{{halt.name}}","{{halt.latitude}}","{{halt.longitude}}",'default');
		{%endfor%}
    {%else%}
 		{%for route in routes%}
			{%for halt in route.halts.all%}
				stick_marker(map,"{{halt.name}}","{{halt.latitude}}","{{halt.longitude}}",'default');
			{%endfor%}
		{%endfor%}   	
    {%endif%}
}	
</script>
<div id='map'>
</div><!-- end of map -->
<div id='contact'>
</div><!-- end of contact -->