{%extends 'globals/singlepane_base.html'%}
{%block content%}
<div id='homepagecontent' class='span-20 push-2'>
	<div id='service_punchline' class='span-10'>
		<h4 class='special' style='margin-top:0.875em;line-height:1.5em;font-family:"Trebuchet MS",Arial,sans-serif;'><span class='special_black'>"</span>&nbsp;Money is the most envied, but <br/>the least enjoyed. <br/>Health is the most enjoyed, but <br/>the least envied.&nbsp;<span class='special_black'>"</span></h4>
	</div><!-- end of service_punchline -->
	<div id='services' class='span-8 push-1 last'>
		<a href='/homefood/' title='Get Your Home Food'><div class='service'>Your <span class='special_red'>Home Food </span>Delivery</div></a>
		<a href='/restaurants/' title='Get Restaurant Food'><div class='service'>Favourite <span class='special_red'>Restaurant Food</span> Delivery</div></a>
		<a href='/messfood/' title='Get Mess Food'><div class='service'>Favourite <span class='special_red'>Mess Food</span> Delivery</div></a>
	</div><!-- end of services -->
	<hr class='span-19'/>
	<h3><a class='special_blue_link' href='/site_media/flat/offers.html'>Exciting Offers</a></h3>
	<div id='foodtracker' class='extrabox span-8'>
		<span class='special_red'>Track</span> your <span class='special_red'>Home Food</span> Carrier<br/> while on the way
		<img alt='foodtracker_image' src='/site_media/img/route_300x150.png'/>
	</div><!-- end of foodtracker -->
	<div id='restaurants' class='extrabox span-4'>
		<div class='extrabox_header'>Restaurants <br/>with us</div>
		<ul>
			<li class='restaurant_name'><span class='special_red'>Holi</span></li>
			<li class='restaurant_name'>Mantra</li>
			<li class='restaurant_name'>Vilas Venue</li>
			<li class='restaurant_name'>36 Jubilee Hills</li>
			<li class='restaurant_name'>Ginger Court</li>
		</ul>
	</div><!-- end of restaurants -->
	<div id='favmeal_media' class='extrabox span-7 last'>
		<div class='extrabox_header'>Favmeal<br/> in the Media</div>
		<h3 class='special_red' style='margin-top:1em;font-family:"Helvetica Neue",Arial,sans-serif;'><span class='special_black'>"</span>&nbsp;Your favourite dishes at workplace&nbsp;<span class='special_black'>"</span></h3> - <a target='_blank' class='special_black_link' href='http://favmeal.wordpress.com/2008/10/02/favmeal-is-in-news/'>The Hindu</a>
	</div><!-- end of foodtracker -->
</div><!-- end of homepagecontent -->
{%endblock%}