<div id='email_container'>
<p>Hello,<br/>Good News! Today I came across this service called Favmeal.com 
and gave it a try! Its a food delivery website started recently and destined 
to serve IT/ITES people of Hyderabad. With Favmeal you can,<br/>
&nbsp;&nbsp;&nbsp;1)&nbsp;Order food from all the top restaurants of Hyderabad at the click of a mouse.<br/>
&nbsp;&nbsp;&nbsp;2)&nbsp;Get Mess Food daily at just Rs.50/-(including everything).<br/>
&nbsp;&nbsp;&nbsp;3)&nbsp;Get your own HomeFood(if you got bored of the above two options :D)<br/>
This is a real benificial service for all of us. For details logon to www.favmeal.com or dial 
<span style='font-weight:bold;'>040-32577666</span> or just have a look at the attached Favmeal Brochure. 
Give it a try and let others also know about it.<br/><br/></p>
{% if name %}
Regards,
{{ name }}
{% endif %}
</div>