<form action='{%url login%}' method='POST'>
	<input type='hidden' name='next' value='{{next}}'/>
	<table summary='loginform'>
		<tr>
			<td><label for='id_lusername'>Email</label></td>
			<td>
				{{loginform.lusername}}{%if loginform.lusername.errors%}{{loginform.lusername.errors}}{%endif%}
			</td>
		</tr>
		<tr>
			<td><label for='id_lusername'>Password</label></td>
			<td>
				{{loginform.lpassword}}&nbsp;&nbsp;<a class='special_blue_link' href='{%url passwordreset%}'>Forgot My Password</a>{%if loginform.lpassword.errors%}{{loginform.lpassword.errors}}{%endif%}
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td style='font:bold 1em Arial,sans-serif;'>I agree to the <a href='/site_media/flat/terms.html' style='color:#3C3B3B;'>Terms</a></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type='image' value='' src='/site_media/img/login.png' alt='submit'/>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				
			</td>
		</tr>
	</table>
</form>