{%extends "globals/singlepane_base.html"%}
{%block title%}Reset My Password - FavMeal{%endblock%}
{%block googlemaps%}
{%endblock%}
{%block content%}
<div id='emtpydiv1' class='column span-6'>&nbsp;&nbsp;</div>
<div class='column span-12'>
	<form action='{%url passwordreset%}' method='post'>
		<table summary='passwordresetform'>
			<tr>
				<td>
					<label for='id_email'>Please enter your Email&nbsp;<span class='special_red'>*</span></label><br/>
					{{form.email}}<span class='special_red'>(New Password will be sent to this email address)</span><br/>{%if form.email.errors%}{{form.email.errors}}{%endif%}				
				</td>
			</tr>
			<tr>
				<td>
					<input type='submit' value='Reset My Password' name='submit'/>
				</td>
			</tr>
		</table>
	</form>
</div>
<div id='emtpydiv2' class='column span-6'>&nbsp;&nbsp;</div>
{%endblock%}